/* color palette from <https://github.com/vuejs/theme> */
:root {
    --color-primary: #1A1A19;
    --color-secondary: #003161;
    --color-terciary: #006A67;
    --color-quaternary: #FFF4B7;
}

/* semantic color variables for this project */
:root {
    --color-background: var(--color-primary);
    --color-text: var(--color-quaternary);
    --color-text-heading: var(#ffffff);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--vt-c-black);
        --color-text: var(--color-quaternary);
        --color-text-heading: var(white)
    }
} */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition:
        color 0.5s,
        background-color 0.5s;
    line-height: 1.6;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2{
    color: var(--color-text-heading);
}

p{
    color: var(--color-text);
}

button{
    background-color: var(--color-terciary);
    color: white;
    padding: 16px 32px;
    border-radius: 8px;
    outline: none;
    border: none;
    min-width: 24px;
    cursor: pointer;
    transition: 500ms;
}

button:hover{
    background-color: white;
    color: var(--color-primary);
}

input{
    padding: 12px;
    outline: none;
    border: none;
    border-radius: 6px;
}

@keyframes showing {
    100% {
        opacity: 1;
    }
}

section {
    opacity: 0;
    animation: showing 400ms forwards;
    width: 100%;
}

.highlight{
    color: white;
}

/* Estiliza a barra de rolagem */
::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
    background-color: var(--color-primary); /* Fundo da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background-color: white; /* Cor da barra de rolagem */
    border-radius: 6px; /* Borda arredondada */
}

::-webkit-scrollbar-thumb:hover {
    background-color: gray; /* Cor da barra de rolagem ao passar o mouse */
}

/* Para Firefox */
* {
    scrollbar-width: thin; /* Define a largura da barra de rolagem */
    scrollbar-color: white var(--color-primary); /* Cor do "thumb" e cor de fundo */
}

button:disabled{
    opacity: .2;
}